@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD 5 Tools @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

    <script>
        angular.module("app").factory("authService", authService);

        function authService() {
            return {
                user: {
                    id: '@User.Identity.GetUserId()'
                }
            };
        }

    </script>
</head>
<body>
    <div class="clearfix">
        <h1 class="inline"><a href="/#/">D&D 5 Tools</a></h1>
        @Html.Partial("_LoginPartial")
    </div>
    <div>
        <nav>
            <ul class="horizontal">
                <li>
                    <h2><a href="#/spell-list" class="underline">Spells</a></h2>
                </li>
            </ul>
        </nav>
        @RenderBody()
        <div class="clearfix"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - DnD 5 Tools</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
